<table id="mainTable">
    <thead>
        <tr>
            <th id="lastNameTh">Last name </th>
            <th id="firstNameTh">First name</th>
            <th id="patronymicTh">Patronymic</th>
            <th id="emailTh">E-mail </th>
        </tr>
    </thead>
    <tbody id="tBody">
    </tbody>
</table>