<table id="employeesTable">
    <thead>
        <tr>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Patronymic</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="tBody">
    </tbody>
</table>