<table id="projectsTable">
    <thead>
        <tr>
            <th id="nameTh">
                <a href="#projectsTable">Project name</a>
            </th>
            <th id="clientTh">
                <a href="#projectsTable">Client company</a>
            </th>
            <th id="executorTh">
                <a href="#projectsTable">Executing company</a>
            </th>
            <th id="priorityTh">
                <a href="#projectsTable">Priority</a>
            </th>
            <th id="startDateTh">
                <a href="#projectsTable">Start date</a>
            </th>
            <th id="endDateTh">
                <a href="#projectsTable">End date</a>
            </th>
        </tr>
    </thead>
    <tbody id="tBody">
    </tbody>
</table>