<table id="mainTable">
    <thead>
        <tr>
            <th id="nameTh">Project name</th>
            <th id="clientTh">Client </th>
            <th id="executorTh">Executor</th>
            <th id="priorityTh">Priority </th>
            <th id="startDateTh">Start date</th>
            <th id="endDateTh">End date </th>
        </tr>
    </thead>
    <tbody id="tBody">
    </tbody>
</table>