@model ProjectControl.Domain.Entities.Project
@{
    ViewBag.Title = "Projects";
}
<div>
    <h3 id="headingId">Project create form</h3>

    <div id="inputsDiv">
        <input type="hidden" id="idInput" />
        <p>
            <label asp-for="Name">Project name: </label>
            <input type="text" asp-for="Name" id="name" />
        </p>

        <p>
            <label asp-for="Client">Client company: </label>
            <input type="text" asp-for="Client" id="client" />
        </p>

        <p>
            <label asp-for="Executor">Executing Company: </label>
            <input type="text" asp-for="Executor" id="executor" />
        </p>

        <p>
            <label asp-for="Priority">Priority: </label>
            <input type="text" asp-for="Priority" id="priority" />
        </p>

        <p>
            <label asp-for="StartDate">Start date: </label>
            <input type="date" asp-for="StartDate" id="startDate" />
        </p>

        <p>
            <label asp-for="EndDate">End date: </label>
            <input type="date" asp-for="EndDate" id="endDate" />
        </p>
    </div>

    <div id="buttonsDiv">
        <p>
            <input type="submit" value="Save" id="saveButton" />
            <input type="reset" value="Reset" id="resetButton" />
        </p>
    </div>

    <hr/>

    <div id="tableDiv">
        <table id="projectsTable">
            <thead>
                <tr>
                    <th id="nameTh">
                        <a href="#projectsTable">Project name</a>
                    </th>
                    <th id="clientTh">
                        <a href="#projectsTable">Client company</a>
                    </th>
                    <th id="executorTh">
                        <a href="#projectsTable">Executing company</a>
                    </th>
                    <th id="priorityTh">
                        <a href="#projectsTable">Priority</a>
                    </th>
                    <th id="startDateTh">
                        <a href="#projectsTable">Start date</a>
                    </th>
                    <th id="endDateTh">
                        <a href="#projectsTable">End date</a>
                    </th>
                </tr>
            </thead>
            <tbody id="tBody">
            </tbody>
        </table>
    </div>

    <script src="~/js/projectsOrder.js"></script>
    <script src="~/js/apiShared.js"></script>
    <script src="~/js/projects.js"></script>
</div>